{% extends "base.html" %}
{% block title %}Staff{% endblock %}

{% block content %}
<section style="padding:4rem 5%;">
  <h2 class="services-title">Staff</h2>

  <div class="services-grid">
    {% for s in staff %}
      <div class="card">
        <img src="{{ url_for('static', filename='images/staff.jpg') }}" alt="Staff">
        <h3>{{ s[1] }}</h3>
        <p style="padding:0 1rem 1rem;">{{ s[2] }} • {{ s[3] }}</p>
      </div>
    {% else %}
      <p style="padding:1rem;">No staff found.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
