{% extends "base.html" %}
{% block title %}Track Appointments{% endblock %}

{% block content %}
<section style="padding:4rem 5%;">
  <h2 class="services-title">My Appointments</h2>

  <div class="table-card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Doctor</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        {% for a in appointments %}
        <tr>
          <td>{{ a[0] }}</td>
          <td>{{ a[1] }}</td>
          <td>{{ a[2] }}</td>
          <td>{{ a[3] }}</td>
          <td>{{ a[4] }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="5" style="padding:1rem; text-align:center;">
            No appointments found.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</section>
{% endblock %}
